node_modules
backend/node_modules
frontend/node_modules
frontend/dist
.git
.gitignore
README.md
npm-debug.log*
backend/database/*.db
backend/database/*.db-shm
backend/database/*.db-wal
backend/uploads/evidence/*
